/* CSS Reset */

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; /* Optional: Prevent horizontal scrolling */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Optional: Remove default list styles for unordered and ordered lists */
ul,
ol {
  list-style: none;
}

/* Optional: Remove default link styling */
a {
  text-decoration: none;
  color: inherit;
}

/* Optional: Remove default table borders */
table {
  border-collapse: collapse;
}

:root {
  --navy-blue: #05203c;
  --greyish-white: #e0e4e9;
  --blue: #0062e3;
}
